---
- name: Install apt-transport-https
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - lsb-release
      - gnupg
    state: latest
    update_cache: true

- name: Add signing key
  apt_key:
    url: "https://download.docker.com/linux/ubuntu/gpg"
    state: present

- name: Add repository into sources list
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu noble stable
    state: present
    filename: docker

- name: Install Docker
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose
      - docker-compose-plugin
    state: latest
    update_cache: true

- name: Start and enable service docker
  service:
    name: docker
    enabled: yes
    state: started
    
- name: Add scout to groups
  ansible.builtin.user:
    name: "scout"
    groups: docker
    append: true
