---
- name: Deactivate sleep mode
  ansible.builtin.systemd:
    name: sleep.target
    enabled: no
    state: stopped

- name: Deactivate hibernate mode
  ansible.builtin.systemd:
    name: hibernate.target
    enabled: no
    state: stopped

- name: Deactivate suspend mode
  ansible.builtin.systemd:
    name: suspend.target
    enabled: no
    state: stopped

- name: Deactivate hybrid-sleep mode
  ansible.builtin.systemd:
    name: hybrid-sleep.target
    enabled: no
    state: stopped

- name: Set idle delay to 0 (disable screen blanking)
  become: yes
  become_user: scout
  ansible.builtin.command: >
    gsettings set org.gnome.desktop.session idle-delay 0

- name: Disable screen lock
  become: yes
  become_user: scout
  ansible.builtin.command: >
    gsettings set org.gnome.desktop.screensaver lock-enabled false

- name: Disable automatic screen lock after blanking
  become: yes
  become_user: scout
  ansible.builtin.command: >
    gsettings set org.gnome.desktop.screensaver idle-activation-enabled false

- name: Set AC power suspend type to 'nothing'
  community.general.dconf:
    key: "/org/gnome/settings-daemon/plugins/power/sleep-inactive-ac-type"
    value: "'nothing'"
    state: present

- name: Set battery power suspend type to 'nothing'
  community.general.dconf:
    key: "/org/gnome/settings-daemon/plugins/power/sleep-inactive-battery-type"
    value: "'nothing'"
    state: present

- name: Set idle delay to 0 (disables screen lock/blanking)
  community.general.dconf:
    key: "/org/gnome/desktop/session/idle-delay"
    value: "0"
    state: present